.profile .clearfix{
  margin-bottom: 1.5em;
}

.site_title{
  padding: 0px 5px;
  i{
    font-size: 20px !important;
    margin: 13px auto !important;
  }
}

.nav-sm .navbar.nav_title a i{
  display: unset;
}

.nav-md .navbar.nav_title a i{
  display: none;
}

.title_left{
  margin-bottom: 10px;
}

.dataTables_filter{
  input{
    border-radius: 5px;
  }
}

.dataTables_paginate{
  a{
    background: none !important;
  }
  .active{
    a{
      background-color: #337ab7 !important;
    }
  }
  .disabled{
    a{
      background-color: $secondary !important;
    }
  }
}

.dataTables_wrapper{
  .row:last-child{
    border-top: 1px solid $secondary;
    padding-top: 10px;
  }
}

.btn:not(.btn-round){
  border: 0px !important;
  border-radius: 0px;
}

.btn-secondary{
  background: $secondary;
}

.table{
  tr{
    td{
      vertical-align: middle !important;
    }
    td:first-child{
      text-align: center;
    }
    td:last-child{
      white-space: nowrap;
      text-align: center;
      .btn{
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    th{
      text-align: center;
    }
  }
}

.table-form{
  border: 1px solid $gray;
  padding: 10px;
  border-radius: 5px;
  background-color: $white;
  .row:first-child{
    div:last-child{
      width: 100%;
    }
  }
}

.form-group{
  padding: 5px;
  margin: 0px;
}

hr{
  border:1px solid $secondary;
  margin: 10px 0;
}

.dl-program{
  margin-bottom: 10px;
}
.dl-legend{
  padding-left: 2em;
}

dl{
  padding-top: 1em;
  hr{
    margin-top: 3em;
  }
}

dd{
  padding-bottom: 10px;
}

.navbar-right{
  .dropdown-usermenu{
    width: 100% !important;
  }
}

.alert-sm{
  padding: 0.25em 0;
  margin: 0;
  text-align: center;
  border-radius: 0;
}

.text-success{
  color: $success;
}

.text-2em{
  font-size: 2em !important;
}

.no-padding{
  padding:0px;
}

.float-left{
  float: left !important;
}
