// Colors
$primary:       #5d9cec !default;
$secondary:     #ddd !default;
$success:       #34c24c !default;
$info:          #29b7e5 !default;
$warning:       #fb902c !default;
$danger:        #f05050 !default;
$gray:          #aaa !default;
$white:         #fff !default;
